<h1>Upload de imagens</h1>

<% @pictures.each do |picture| %>
  <% if picture %>
    <h1><%= picture.full_name %></h1>
    <h1><%= picture.password %></h1>
    <h1><%= picture.avatar %></h1>


  <%end%>
<%end%>
<%= link_to "pictures", new_picture_path%>
<%= link_to "Voltar", @picture_path%>



